body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
    .error, select.error, textarea.error, input.error {
        color: #FF0000;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
table.dataTable thead th, table.dataTable thead td {
    padding: 5px 5px !important;
    border-bottom: 1px solid #111;
}
thead input {
    width: 100%;
}
body {
    font-size: 0.8rem;
    line-height: 1.0;
}
.container {
    max-width: 98% !important;
}
label {
    margin-bottom: 0.2rem;
}
.deleteTextboxButton {
    float: right;
    margin-top: -30px;
    padding: 7px 4px;
    font-weight: 600;
}
.addTextboxButton {
    float: right;
    padding: 4px 4px;
}

textarea {
    max-width: 100% !important;
}
.sixty {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
    position: relative;
    width: 60%;
    /*padding-right: 15px;
    padding-left: 15px;*/
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.fourty {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
    position: relative;
    width: 40%;
    /*padding-right: 15px;
    padding-left: 15px;*/
    margin-left: 0 !important;
    margin-right: 0 !important;
}
label.required:after {
    color: red;
    content: " *";
}
.selectpicker > button {
    background: white !important;
    color: black !important;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:active, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
    background: white !important;
    color: black !important;
    border: 1px solid #ced4da;
}
.bootstrap-select button {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .2rem;
}
@media (min-width: 992px) {
    .content {
        padding: 1rem 2.5rem 1rem;
    }
}
.dropdown-item.active, .dropdown-item:active {
    background-color: gray !important;
}
.btn-primary {
    background-color: gray !important;
    border-color: gray !important;
}