@{ Layout = null; }
@*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HeaderTestHeader</title>
</head>
<body>
    <img style="width:100%" src="~/Content/Images/Footer.png" />
</body>
</html>